:root {
  --primary-color: #B3BA4F;
  --secondary-color: #172B4D;
  --accent1-color: #919A7F;
  --accent2-color: #424F45;
  --nav-hover-link-color: white;
  --nav-hover-background-color: black;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    background-image: radial-gradient(circle,  rgba(255, 255, 255, 1) 0%,  rgba(255, 255, 255, 0) 70%);
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-image {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    max-height: 500px;
    overflow: hidden;
    position: relative;
    object-position: center 65%;
    margin-bottom: 5em;
}

main section {
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
}

header h1 {
    grid-column: span 2;
    justify-self: center;
}

nav div {
    display: flex;
    justify-content: space-around;
    
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.home-grid h2 {
    color: var(--accent1-color);
}

.gym-card {
    grid-area: 2 / 2 / 3 / 4;
}

.rapids-card {
    grid-area: 2 / 5 / 3 / 7;
}

.spa-card {
    grid-area: 2 / 8 / 3 / 10;
}

#background {
    grid-area: 4 / 1 / 9 / 11;
    height: 725px;
    background-color: var(--primary-color);
}

.mountains {
    width: 100%;
    grid-area: 5 / 2 / 8 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-area: 6 / 6 / 7 / 10;
    background-color: #6f7364;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

body {
    background-color: white;
    color: var(--accent2-color);
}

.book, .join {
    background-color: var(--primary-color);
    text-decoration: none;
    color: var(--secondary-color);
}

.book:hover, .join:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.msg {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.msg h2 {
    color: var(--secondary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1px;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a img {
    width: 100%;
    max-width: 50px;
    border-radius: 10%;
}

.footerlink:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.social:hover {
    transform: scale(1.1);
    border-radius: 10%;
    box-shadow: .5px .5px .5px .5px rgb(66, 66, 66);
}

.logo, .icon {
    width: 80px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .gym-card, .rapids-card, .spa-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}