* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
}
nav ul li {
    text-decoration:none;
}

body {
    max-width: 100%;
    padding: 5em;
    position: relative;
    color: rgb(90, 23, 64);
    font-family:Arial, Helvetica, sans-serif;
}

main img {
    object-fit:cover;
    object-position: center;
    position: fixed;
    inset: 0;
    overflow: hidden;
    aspect-ratio: 1/1;
    opacity: 50%;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}