body {
    text-align: center;
    background-color: rgba(128, 22, 53, 0.781);
}
h1 {
    color: rgb(29, 190, 83);
}
p {
    color: rgb(46, 196, 255);
}
img {
    max-width: 800px;
    border: 4px solid rgb(29, 190, 83);
}
nav {
    background-color: rgb(29, 190, 83);
    padding: 30px;
}
a {
    color: white;
    text-decoration: none;
    margin: 20px;
}
footer {
    text-align: left;
    background-color: rgb(29, 190, 83);
    color: white;
    padding: 5px;
}
footer p {
    margin: 0;
    color: red;
}