* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(0, 255, 255, 0.26);
}

img {
    width: 200%;
    max-width: 100%;
    height: auto;
}

nav {
    border: 3px solid #482191;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    background-color: grey;
    padding: 2em;
}

nav a {
    color: wheat;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

section#blue {
    background-color: lightblue;
    grid-column: 3/4;
    grid-row: 1/2;
}

section#red {
    background-color: lightcoral;
    grid-column: 2/3;
    grid-row: 1/2;
}

section#green {
    background-color: lightgreen;
    grid-column: 1/2;
    grid-row: 1/2;
}

section#about {
    grid-column: 1/4;
}

section#about img {
    max-width: 10em;
}